@model IEnumerable<MVC_Contravvenzioni.Models.TipoViolazione>

@{
    ViewBag.Title = "NonContestabili";
}

<h2>Trasgressioni Contestabili</h2>

<p class="btn btn-primary">
    <a href="~/TipoViolazione/Index" class="text-decoration-none text-white mt-3">Trasgressioni Non Contestabili</a>
</p>

<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAnagrafica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contestabile)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDViolazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDAnagrafica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contestabile)
            </td>
        </tr>
    }

</table>
